[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0209, # consider-using-f-string
    W0622, # redefined-builtin

[FORMAT]
max-line-length=120

[SIMILARITIES]
ignore-imports=yes
