[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0209, # consider-using-f-string
    W0622, # redefined-builtin
    W1113, # too-many-arguments
    W0613, # unused-argument

[FORMAT]
max-line-length=120

[SIMILARITIES]
ignore-imports=yes
