typer>=0.9.0
rich
GitPython
requests
types-requests
pyyaml
types-PyYAML
typing-extensions>=4.7.0
questionary
mixpanel
tomlkit
pathspec
httpx
packaging
charset-normalizer>=3.0.0
websocket-client
psutil
types-psutil

