openapi: "3.0.2"
info:
  title: Comfy API
  version: "1.0"
servers:
  - url: https://api.comfy.org
paths:
  /users:
    get:
      summary: Get information about the calling user.
      operationId: getUser
      tags:
        - Registry
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

        "404":
          description: Not Found
        "401":
          description: Unauthorized
  /customers:
    post:
      summary: Create a new customer
      description: Creates a new customer using the provided token. No request body is needed as user information is extracted from the token.
      operationId: createCustomer
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Customer already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "201":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Search for customers
      description: Search for customers by email, name, Stripe ID, or Metronome ID.
      operationId: searchCustomers
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: email
          schema:
            type: string
          description: Email address to search for
        - in: query
          name: name
          schema:
            type: string
          description: Customer name to search for
        - in: query
          name: stripe_id
          schema:
            type: string
          description: Stripe customer ID to search for
        - in: query
          name: metronome_id
          schema:
            type: string
          description: Metronome customer ID to search for\
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number to retrieve
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
          description: Number of customers to return per page
      responses:
        "200":
          description: Customers matching the search criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Number of customers per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
                  customers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"
                  total:
                    type: integer
                    description: Total number of matching customers
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/me:
    get:
      summary: Get authenticated customer details
      description: Returns details about the currently authenticated customer based on their JWT token.
      operationId: getAuthenticatedCustomer
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/{customer_id}:
    get:
      summary: Get a customer by ID
      description: Returns details about a customer by their ID.
      operationId: getCustomerById
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    $ref: "#/components/schemas/CustomerAdmin"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/api-keys:
    get:
      summary: List all API keys for a customer
      operationId: listCustomerAPIKeys
      x-excluded: true
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/APIKey"
        "401":
          description: Unauthorized
        "404":
          description: Customer not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create a new API key for a customer
      operationId: createCustomerAPIKey
      x-excluded: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    $ref: "#/components/schemas/APIKeyWithPlaintext"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "404":
          description: Customer or API key not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/api-keys/{api_key_id}:
    delete:
      summary: Delete an API key for a customer
      operationId: deleteCustomerAPIKey
      x-excluded: true
      parameters:
        - in: path
          name: api_key_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: API key deleted
        "401":
          description: Unauthorized
        "404":
          description: Customer or API key not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/credit:
    post:
      summary: Initiates a Credit Purchase.
      operationId: InitiateCreditPurchase
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_micros:
                  type: integer
                  format: int64
                  description: the amount of the checkout transaction in micro value
                currency:
                  type: string
                  description: the currency used in the checkout transaction
              required:
                - amount_micros
                - currency
      responses:
        "201":
          description: Customer Checkout created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                    description: the url to redirect the customer
        "400":
          description: Bad request, invalid token or user already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/billing:
    post:
      summary: Access customer billing portal
      description: Creates a session for the customer to access their billing portal where they can manage subscriptions, payment methods, and view invoices.
      operationId: AccessBillingPortal
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                return_url:
                  type: string
                  description: Optional URL to redirect the customer after they're done with the billing portal
                target_tier:
                  type: string
                  enum: [standard, creator, pro, standard-yearly, creator-yearly, pro-yearly]
                  description: Optional target subscription tier. When provided, creates a deep link directly to the subscription update confirmation screen with this tier pre-selected.
      responses:
        "200":
          description: Billing portal session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_portal_url:
                    type: string
                    description: The URL to redirect the customer to the billing portal
        "400":
          description: Bad request, invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/cloud-subscription-checkout:
    post:
      summary: Create cloud subscription checkout session
      description: Creates a cloud subscription checkout session for $20/month with automatic billing
      operationId: createCloudSubscriptionCheckout
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ga_client_id:
                  type: string
                  description: Google Analytics client ID from _ga cookie
                ga_session_id:
                  type: string
                  description: Google Analytics session ID
                ga_session_number:
                  type: string
                  description: Google Analytics session number
                gclid:
                  type: string
                  description: Google Ads click ID
                gbraid:
                  type: string
                  description: Google Ads iOS attribution parameter
                wbraid:
                  type: string
                  description: Google Ads web-to-app attribution parameter
                utm_source:
                  type: string
                  description: UTM source parameter
                utm_medium:
                  type: string
                  description: UTM medium parameter
                utm_campaign:
                  type: string
                  description: UTM campaign parameter
                utm_term:
                  type: string
                  description: UTM term parameter
                utm_content:
                  type: string
                  description: UTM content parameter
                im_ref:
                  type: string
                  description: Impact.com click ID for affiliate conversion tracking
      responses:
        "201":
          description: Subscription checkout session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                    description: The URL to redirect the customer to complete subscription
        "400":
          description: Bad request, invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/cloud-subscription-checkout/{tier}:
    post:
      summary: Create cloud subscription checkout session for a specific tier
      description: Creates a cloud subscription checkout session for a specific subscription tier (standard, creator, or pro) with automatic billing
      operationId: createCloudSubscriptionCheckoutTier
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: tier
          required: true
          description: The subscription tier (standard, creator, or pro) with optional yearly billing (standard-yearly, creator-yearly, pro-yearly)
          schema:
            type: string
            enum:
              - standard
              - creator
              - pro
              - standard-yearly
              - creator-yearly
              - pro-yearly
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ga_client_id:
                  type: string
                  description: Google Analytics client ID from _ga cookie
                ga_session_id:
                  type: string
                  description: Google Analytics session ID
                ga_session_number:
                  type: string
                  description: Google Analytics session number
                gclid:
                  type: string
                  description: Google Ads click ID
                gbraid:
                  type: string
                  description: Google Ads iOS attribution parameter
                wbraid:
                  type: string
                  description: Google Ads web-to-app attribution parameter
                utm_source:
                  type: string
                  description: UTM source parameter
                utm_medium:
                  type: string
                  description: UTM medium parameter
                utm_campaign:
                  type: string
                  description: UTM campaign parameter
                utm_term:
                  type: string
                  description: UTM term parameter
                utm_content:
                  type: string
                  description: UTM content parameter
                im_ref:
                  type: string
                  description: Impact.com click ID for affiliate conversion tracking
      responses:
        "201":
          description: Subscription checkout session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                    description: The URL to redirect the customer to complete subscription
        "400":
          description: Bad request, invalid input or tier
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/cloud-subscription-status:
    get:
      summary: Check cloud subscription status
      description: Check if the customer has an active cloud subscription
      operationId: GetCloudSubscriptionStatus
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Cloud subscription status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_active:
                    type: boolean
                    description: Whether the customer has an active cloud subscription
                  subscription_id:
                    type: string
                    description: The active subscription ID if one exists
                    nullable: true
                  subscription_tier:
                    allOf:
                      - $ref: "#/components/schemas/SubscriptionTier"
                    nullable: true
                  subscription_duration:
                    allOf:
                      - $ref: "#/components/schemas/SubscriptionDuration"
                    nullable: true
                  has_fund:
                    type: boolean
                    description: Whether the customer has funds/credits available
                  renewal_date:
                    type: string
                    format: date-time
                    description: The next renewal date for the subscription (ISO 8601 format)
                    nullable: true
                  end_date:
                    type: string
                    format: date-time
                    description: The date when the subscription is set to end (ISO 8601 format)
                    nullable: true
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /admin/verify-api-key:
    post:
      summary: Verify a ComfyUI API key and return customer details
      description: |
        Validates a ComfyUI API key and returns the associated customer information.
        This endpoint is used by cloud.comfy.org to authenticate users via API keys
        instead of Firebase tokens.
      operationId: VerifyApiKey
      x-excluded: true
      tags:
        - Admin
      parameters:
        - in: header
          name: X-Comfy-Admin-Secret
          required: true
          schema:
            type: string
          description: Admin API secret used to authorize this request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: The ComfyUI API key to verify (e.g., comfy_xxx...)
              required:
                - api_key
      responses:
        "200":
          description: API key is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    description: Whether the API key is valid
                  firebase_uid:
                    type: string
                    description: The Firebase UID of the user
                  email:
                    type: string
                    description: The customer's email address
                  name:
                    type: string
                    description: The customer's name
                  is_admin:
                    type: boolean
                    description: Whether the customer is an admin
                required:
                  - valid
                  - firebase_uid
        "401":
          description: Unauthorized or missing admin API secret
        "403":
          description: API key auth not allowed for this account (e.g., free tier)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: API key not found or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /admin/generate-token:
    post:
      summary: Generate a short-lived JWT admin token
      description: |
        Generates a short-lived JWT admin token for browser-based admin operations.
        The user must already be authenticated with Firebase and have admin privileges.
        The generated token expires after 1 hour.
      operationId: GenerateAdminToken
      tags:
        - Admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: JWT token generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The JWT admin token
                  expires_at:
                    type: string
                    format: date-time
                    description: When the token expires
                required:
                  - token
                  - expires_at
        "401":
          description: Unauthorized or user is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /admin/customers/{customer_id}/cloud-subscription-status:
    get:
      summary: Admin check cloud subscription status
      description: Allows an admin to inspect a specific customer's cloud subscription status.
      operationId: GetAdminCustomerCloudSubscriptionStatus
      x-excluded: true
      tags:
        - Admin
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
          description: The ID of the customer whose subscription status to retrieve
        - in: header
          name: X-Comfy-Admin-Secret
          required: true
          schema:
            type: string
          description: Admin API secret used to authorize this request
      responses:
        "200":
          description: Cloud subscription status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_active:
                    type: boolean
                    description: Whether the customer has an active cloud subscription
                  subscription_id:
                    type: string
                    description: The active subscription ID if one exists
                    nullable: true
                  subscription_tier:
                    allOf:
                      - $ref: "#/components/schemas/SubscriptionTier"
                    nullable: true
                  subscription_duration:
                    allOf:
                      - $ref: "#/components/schemas/SubscriptionDuration"
                    nullable: true
                  has_fund:
                    type: boolean
                    description: Whether the customer has funds/credits available
                  renewal_date:
                    type: string
                    format: date-time
                    description: The next renewal date for the subscription (ISO 8601 format)
                    nullable: true
                  end_date:
                    type: string
                    format: date-time
                    description: The date when the subscription is set to end (ISO 8601 format)
                    nullable: true
        "401":
          description: Unauthorized or missing admin API secret
        "404":
          description: Customer not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /admin/customers/{customer_id}/balance:
    get:
      summary: Admin get customer's remaining balance
      description: Returns the specified customer's current remaining balance in microamount and its currency.
      operationId: GetAdminCustomerBalance
      x-excluded: true
      tags:
        - Admin
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
        - in: header
          name: X-Comfy-Admin-Secret
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Customer balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount_micros:
                    type: number
                    format: double
                  prepaid_balance_micros:
                    type: number
                    format: double
                  cloud_credit_balance_micros:
                    type: number
                    format: double
                  pending_charges_micros:
                    type: number
                    format: double
                  effective_balance_micros:
                    type: number
                    format: double
                  currency:
                    type: string
                required:
                  - amount_micros
                  - currency
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /admin/customers/{customer_id}/stripe-data:
    delete:
      summary: Delete customer Stripe data
      description: Deletes the Stripe customer data associated with the given customer ID.
      operationId: DeleteAdminCustomerStripeData
      x-excluded: true
      tags:
        - Admin
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
          description: The ID of the customer whose Stripe data to delete
        - in: header
          name: X-Comfy-Admin-Secret
          required: true
          schema:
            type: string
          description: Admin API secret used to authorize this request
      responses:
        "200":
          description: Stripe data deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
        "400":
          description: Bad request - missing required parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or missing admin API secret
        "404":
          description: Customer not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /admin/customers/{customer_id}/archive-metronome-data:
    post:
      summary: Archive customer Metronome data
      description: Archives metronome data. See https://docs.metronome.com/api-reference/customers/archive-a-customer
      operationId: PostAdminArchiveMetronomeData
      x-excluded: true
      tags:
        - Admin
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
          description: The ID of the customer whose Metronome data to archive
        - in: header
          name: X-Comfy-Admin-Secret
          required: true
          schema:
            type: string
          description: Admin API secret used to authorize this request
      responses:
        "200":
          description: Metronome data archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
        "400":
          description: Bad request - missing required parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or missing admin API secret
        "404":
          description: Customer not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/usage:
    post:
      summary: Get customer's usage
      description: Returns the customer's as a dashboard URL.
      operationId: GetCustomerUsage
      x-excluded: true
      tags:
        - API Nodes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dashboard_type:
                  type: string
                  description: The type of dashboard to retrieve
                  enum:
                    - invoices
                    - usage
                    - credits
                    - commits_and_credits
                  default: usage
                color_overrides:
                  type: array
                  description: Optional list of colors to override for branding
                  items:
                    type: object
                    required:
                      - name
                      - value
                    properties:
                      name:
                        type: string
                        description: The color property to override
                        enum:
                          - Gray_dark
                          - Gray_medium
                          - Gray_light
                          - Gray_extralight
                          - White
                          - Primary_medium
                          - Primary_light
                          - UsageLine_0
                          - UsageLine_1
                          - UsageLine_2
                          - UsageLine_3
                          - UsageLine_4
                          - UsageLine_5
                          - UsageLine_6
                          - UsageLine_7
                          - UsageLine_8
                          - UsageLine_9
                          - Primary_green
                          - Primary_red
                          - Progress_bar
                          - Progress_bar_background
                      value:
                        type: string
                        description: Hex color code (e.g., "#FF5733")
                        pattern: "^#[0-9A-Fa-f]{6}$"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: The dashboard URL for the customer's usage
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/balance:
    get:
      summary: Get customer's remaining balance
      description: Returns the customer's current remaining balance in microamount and its currency, with separate breakdowns for prepaid commits and cloud credits.
      operationId: GetCustomerBalance
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Customer balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount_micros:
                    type: number
                    format: double
                    description: The total remaining balance in microamount (1/1,000,000 of the currency unit)
                  prepaid_balance_micros:
                    type: number
                    format: double
                    description: The remaining balance from prepaid commits in microamount
                  cloud_credit_balance_micros:
                    type: number
                    format: double
                    description: The remaining balance from cloud credits in microamount
                  pending_charges_micros:
                    type: number
                    format: double
                    description: The total amount of pending/unbilled charges from draft invoices in microamount. Only included when the show_negative_balances feature flag is enabled.
                  effective_balance_micros:
                    type: number
                    format: double
                    description: The effective balance (total balance minus pending charges). Can be negative if pending charges exceed the balance. Only included when the show_negative_balances feature flag is enabled.
                  currency:
                    type: string
                    description: The currency code (e.g., "usd")
                required:
                  - amount_micros
                  - currency
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/{customer_id}/balance:
    get:
      summary: Get customer's remaining balance by ID
      description: Returns the specified customer's current remaining balance in microamount and its currency, with separate breakdowns for prepaid commits and cloud credits.
      operationId: GetCustomerBalanceById
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
          description: The ID of the customer whose balance to retrieve
      responses:
        "200":
          description: Customer balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount_micros:
                    type: number
                    format: double
                    description: The total remaining balance in microamount (1/1,000,000 of the currency unit)
                  prepaid_balance_micros:
                    type: number
                    format: double
                    description: The remaining balance from prepaid commits in microamount
                  cloud_credit_balance_micros:
                    type: number
                    format: double
                    description: The remaining balance from cloud credits in microamount
                  pending_charges_micros:
                    type: number
                    format: double
                    description: The total amount of pending/unbilled charges from draft invoices in microamount. Only included when the show_negative_balances feature flag is enabled.
                  effective_balance_micros:
                    type: number
                    format: double
                    description: The effective balance (total balance minus pending charges). Can be negative if pending charges exceed the balance. Only included when the show_negative_balances feature flag is enabled.
                  currency:
                    type: string
                    description: The currency code (e.g., "usd")
                required:
                  - amount_micros
                  - currency
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/{customer_id}/usage:
    post:
      summary: Track usage for a customer (Admin only)
      description: Manually track usage for a customer in Metronome. This endpoint is for admin use to record usage events.
      operationId: TrackCustomerUsage
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
          description: The ID of the customer to track usage for
        - in: header
          name: X-Comfy-Admin-Secret
          required: true
          schema:
            type: string
          description: Admin API secret used to authorize this request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_id:
                  type: string
                  format: uuid
                  description: Unique transaction ID for this usage event
                timestamp:
                  type: string
                  format: date-time
                  description: Timestamp of the usage event (RFC3339 format)
                params:
                  type: object
                  additionalProperties: true
                  description: Custom parameters for the usage event
              required:
                - transaction_id
                - params
      responses:
        "200":
          description: Usage tracked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/storage:
    post:
      summary: Store a resource for a customer
      description: Store a resource for a customer. Resource will have a 24 hour expiry. The signed URL will be generated for the specified file path.
      operationId: createCustomerStorageResource
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: The desired name of the file (e.g., 'profile.jpg')
                content_type:
                  type: string
                  description: The content type of the file (e.g., 'image/png')
                file_hash:
                  type: string
                  description: The hash of the file. If provided, an existing file with the same hash may be returned.
              required:
                - file_name
      responses:
        "200":
          description: Signed URL generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerStorageResourceResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/{customer_id}/events:
    get:
      summary: Get events related to customer
      operationId: GetCustomerEventsById
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: filter
          description: Event type to filter
          required: false
          schema:
            type: string
        - in: query
          name: start_date
          description: Start date for filtering events (RFC3339 format, e.g., 2025-01-01T00:00:00Z)
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: end_date
          description: End date for filtering events (RFC3339 format, e.g., 2025-01-31T23:59:59Z)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of events available
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditLog"
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        "400":
          description: Invalid input, object invalid
        "404":
          description: Not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/events:
    get:
      summary: Get events related to customer
      operationId: GetCustomerEvents
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: filter
          description: Event type to filter
          required: false
          schema:
            type: string
        - in: query
          name: start_date
          description: Start date for filtering events (RFC3339 format, e.g., 2025-01-01T00:00:00Z)
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: end_date
          description: End date for filtering events (RFC3339 format, e.g., 2025-01-31T23:59:59Z)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of events available
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditLog"
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        "400":
          description: Invalid input, object invalid
        "404":
          description: Not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /upload-artifact:
    post:
      summary: Receive artifacts (output files) from the ComfyUI GitHub Action
      description: Receive artifacts (output files) from the ComfyUI GitHub Action
      x-excluded: true
      tags:
        - ComfyUI CI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo:
                  type: string
                  description: Repository name
                job_id:
                  type: string
                  description: Unique identifier for the job
                run_id:
                  type: string
                  description: Unique identifier for the run
                os:
                  type: string
                  description: Operating system used in the run
                cuda_version:
                  type: string
                  description: Cuda version.
                bucket_name:
                  type: string
                  description: The name of the bucket where the output files are stored
                output_files_gcs_paths:
                  type: string
                  description: A comma separated string that contains GCS path(s) to output files. eg. gs://bucket-name/output, gs://bucket-name/output2
                comfy_logs_gcs_path:
                  type: string
                  description: The path to ComfyUI logs. eg. gs://bucket-name/logs
                comfy_run_flags:
                  type: string
                  description: The flags used in the comfy run
                commit_hash:
                  type: string
                commit_time:
                  type: string
                  description: The time of the commit in the format of "YYYY-MM-DDTHH:MM:SSZ" (2016-10-10T00:00:00Z)
                commit_message:
                  type: string
                  description: The commit message
                workflow_name:
                  type: string
                  description: The name of the workflow
                branch_name:
                  type: string
                start_time:
                  type: integer
                  format: int64
                  description: The start time of the job as a Unix timestamp.
                end_time:
                  type: integer
                  format: int64
                  description: The end time of the job as a Unix timestamp.
                avg_vram:
                  type: integer
                  description: The average amount of VRAM used in the run.
                peak_vram:
                  type: integer
                  description: The peak amount of VRAM used in the run.
                pr_number:
                  type: string
                  description: The pull request number
                author:
                  type: string
                  description: The author of the commit
                job_trigger_user:
                  type: string
                  description: The user who triggered the job
                python_version:
                  type: string
                  description: The python version used in the run
                pytorch_version:
                  type: string
                  description: The pytorch version used in the run
                machine_stats:
                  $ref: "#/components/schemas/MachineStats"
                status:
                  $ref: "#/components/schemas/WorkflowRunStatus"
              required:
                - repo
                - job_id
                - run_id
                - os
                - commit_hash
                - commit_time
                - commit_message
                - branch_name
                - workflow_name
                - start_time
                - end_time
                - pr_number
                - python_version
                - job_trigger_user
                - author
                - status

      responses:
        "200":
          description: Successfully received the artifact details
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "400":
          description: Invalid request
        "500":
          description: Internal server error
  /gitcommit:
    get:
      summary: Retrieve CI data for a given commit
      description: Returns all runs, jobs, job results, and storage files associated with a given commit.
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: query
          name: commitId
          required: false
          schema:
            type: string
          description: The ID of the commit to fetch data for.
        - in: query
          name: operatingSystem
          required: false
          schema:
            type: string
          description: The operating system to filter the CI data by.
        - in: query
          name: workflowName
          required: false
          schema:
            type: string
          description: The name of the workflow to filter the CI data by.
        - in: query
          name: branch
          required: false
          schema:
            type: string
          description: The branch of the gitcommit to filter the CI data by.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            default: 10
          description: The number of items to include per page.
        - in: query
          name: repoName
          required: false
          schema:
            type: string
            default: comfyanonymous/ComfyUI
          description: The repo to filter by.
      responses:
        "200":
          description: An object containing runs, jobs, job results, and storage files
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobResults:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionJobResult"
                  totalNumberOfPages:
                    type: integer
        "404":
          description: Commit not found
        "500":
          description: Internal server error
  /gitcommitsummary:
    get:
      summary: Retrieve a summary of git commits
      description: Returns a summary of git commits, including status, start time, and end time.
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: query
          name: repoName
          required: false
          schema:
            type: string
            default: comfyanonymous/ComfyUI
          description: The repository name to filter the git commits by.
        - in: query
          name: branchName
          required: false
          schema:
            type: string
          description: The branch name to filter the git commits by.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            default: 10
          description: The number of items to include per page.
      responses:
        "200":
          description: Successfully retrieved git commit summaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  commitSummaries:
                    type: array
                    items:
                      $ref: "#/components/schemas/GitCommitSummary"
                  totalNumberOfPages:
                    type: integer
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /workflowresult/{workflowResultId}:
    get:
      summary: Retrieve a specific commit by ID
      operationId: getWorkflowResult
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: path
          name: workflowResultId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Commit details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionJobResult"
        "404":
          description: Commit not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /branch:
    get:
      summary: Retrieve all distinct branches for a given repo
      description: Returns all branches for a given repo.
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: query
          name: repo_name
          required: true
          schema:
            type: string
            default: comfyanonymous/ComfyUI
          description: The repo to filter by.
      responses:
        "200":
          description: An array of branches
          content:
            application/json:
              schema:
                type: object
                properties:
                  branches:
                    type: array
                    items:
                      type: string
        "404":
          description: Repo not found
        "500":
          description: Internal server error
  /users/publishers/:
    get:
      summary: Retrieve all publishers for a given user
      operationId: listPublishersForUser
      tags:
        - Registry
      responses:
        "200":
          description: A list of publishers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Publisher"
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/permissions:
    get:
      summary: Retrieve permissions the user has for a given publisher
      operationId: getPermissionOnPublisher
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A list of permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  canEdit:
                    type: boolean
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /publishers/validate:
    get:
      summary: Validate if a publisher username is available
      description: Checks if the publisher username is already taken.
      operationId: validatePublisher
      tags:
        - Registry
      parameters:
        - in: query
          name: username
          schema:
            type: string
          description: The publisher username to validate.
          required: true
      responses:
        "200":
          description: Username validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  isAvailable:
                    type: boolean
                    description: True if the username is available, false otherwise.
        "400":
          description: Invalid input, such as missing username in the query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers:
    post:
      summary: Create a new publisher
      operationId: createPublisher
      security:
        - BearerAuth: []
      tags:
        - Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Publisher"
      responses:
        "201":
          description: Publisher created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Publisher"
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: Retrieve all publishers
      operationId: listPublishers
      tags:
        - Registry
      responses:
        "200":
          description: A list of publishers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Publisher"
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}:
    get:
      summary: Retrieve a publisher by ID
      operationId: getPublisher
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Publisher retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Publisher"
        "404":
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update a publisher
      operationId: updatePublisher
      security:
        - BearerAuth: []
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Publisher"
      responses:
        "200":
          description: Publisher updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Publisher"
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "404":
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete a publisher
      operationId: deletePublisher
      security:
        - BearerAuth: []
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Publisher deleted successfully
        "404":
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/ban:
    post:
      summary: Ban a publisher
      operationId: BanPublisher
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Publisher Banned Successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/{nodeId}/claim-my-node:
    post:
      summary: Claim nodeId into publisherId for the authenticated publisher
      description: |
        This endpoint allows a publisher to claim an unclaimed node that they own the repo, which is identified by the nodeId. The unclaimed node's repository must be owned by the authenticated user.
      operationId: claimMyNode
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimMyNodeRequest"
      responses:
        "204":
          description: Node claimed successfully
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "403":
          description: |
            Forbidden - various authorization and permission issues
            Includes:
            - The authenticated user does not have permission to claim the node
            - The node is already claimed by another publisher
            - The GH_TOKEN is invalid
            - The repository is not owned by the authenticated GitHub user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too many requests - GitHub API rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Service unavailable - GitHub API is currently unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/v2:
    get:
      summary: Retrieve all nodes
      operationId: listNodesForPublisherV2
      security:
        - BearerAuth: []
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: List of all nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of nodes available
                  nodes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Node"
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        "400":
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes:
    post:
      summary: Create a new custom node
      operationId: createNode
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Node"
      responses:
        "201":
          description: Node created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Node"
        "400":
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve all nodes
      operationId: listNodesForPublisher
      security:
        - BearerAuth: []
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: List of all nodes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Node"
        "400":
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/{nodeId}:
    put:
      summary: Update a specific node
      operationId: updateNode
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Node"
      responses:
        "200":
          description: Node updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Node"
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Node not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete a specific node
      operationId: deleteNode
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Node deleted successfully
        "404":
          description: Node not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/{nodeId}/permissions:
    get:
      summary: Retrieve permissions the user has for a given publisher
      operationId: getPermissionOnPublisherNodes
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A list of permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  canEdit:
                    type: boolean
        "400":
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/{nodeId}/versions:
    post:
      summary: Publish a new version of a node
      operationId: publishNodeVersion
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personal_access_token:
                  type: string
                node_version:
                  $ref: "#/components/schemas/NodeVersion"
                node:
                  $ref: "#/components/schemas/Node"
              required:
                - node
                - node_version
                - personal_access_token
      responses:
        "201":
          description: New version published successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  signedUrl:
                    type: string
                    description: The signed URL to upload the node version token.
                  node_version:
                    $ref: "#/components/schemas/NodeVersion"
        "400":
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/{nodeId}/versions/{versionId}:
    delete:
      summary: Unpublish (delete) a specific version of a node
      operationId: deleteNodeVersion
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Version unpublished (deleted) successfully
        "403":
          description: Version does not belong to the publisher
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Update changelog and deprecation status of a node version
      operationId: updateNodeVersion
      description: Update only the changelog and deprecated status of a specific version of a node.
      tags:
        - Registry
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NodeVersionUpdateRequest"
      responses:
        "200":
          description: Version updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NodeVersion"
        "400":
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/nodes/{nodeId}/ban:
    post:
      summary: Ban a publisher's Node
      operationId: BanPublisherNode
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Node Banned Successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Publisher or Node not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/tokens:
    post:
      summary: Create a new personal access token
      operationId: createPersonalAccessToken
      security:
        - BearerAuth: []
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonalAccessToken"
      responses:
        "201":
          description: Token created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The newly created personal access token.
        "400":
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: Retrieve all personal access tokens for a publisher
      operationId: listPersonalAccessTokens
      security:
        - BearerAuth: []
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of all personal access tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PersonalAccessToken"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No tokens found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /publishers/{publisherId}/tokens/{tokenId}:
    delete:
      summary: Delete a specific personal access token
      operationId: deletePersonalAccessToken
      security:
        - BearerAuth: []
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: tokenId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Token deleted successfully
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Token not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /nodes/search:
    get:
      summary: Retrieves a list of nodes
      description: Returns a paginated list of nodes across all publishers.
      operationId: searchNodes
      tags:
        - Registry
      parameters:
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: search
          description: Keyword to search the nodes
          required: false
          schema:
            type: string
        - in: query
          name: repository_url_search
          description: Keyword to search the nodes by repository URL
          required: false
          schema:
            type: string
        - in: query
          name: comfy_node_search
          description: Keyword to search the nodes by comfy node name
          required: false
          schema:
            type: string
        - in: query
          name: supported_os
          description: Filter nodes by supported operating systems
          required: false
          schema:
            type: string
          examples:
            osIndependent:
              value: "OS Independent"
            windows:
              value: "Microsoft :: Windows"
            windows10:
              value: "Microsoft :: Windows :: Windows 10"
            linux:
              value: "POSIX :: Linux"
            ubuntu:
              value: "POSIX :: Linux :: Ubuntu"
            macos:
              value: "MacOS"
            macosx:
              value: "MacOS :: MacOS X"
        - in: query
          name: supported_accelerator
          description: Filter nodes by supported accelerator
          required: false
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of nodes available
                  nodes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Node"
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        "400":
          description: Invalid input, object invalid
        "404":
          description: Not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /nodes/reindex:
    post:
      summary: Reindex all nodes for searching.
      operationId: reindexNodes
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: query
          name: max_batch
          description: Maximum number of nodes to send to algolia at a time
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Reindex completed successfully.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /nodes/update-github-stars:
    post:
      summary: Update GitHub stars for nodes
      operationId: updateGithubStars
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: query
          name: max_batch
          schema:
            type: integer
            default: 100
          description: Maximum number of nodes to update in one batch
      responses:
        "200":
          description: Update GithubStars request triggered successfully
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /nodes:
    get:
      summary: Retrieves a list of nodes
      description: Returns a paginated list of nodes across all publishers.
      operationId: listAllNodes
      tags:
        - Registry
      parameters:
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: supported_os
          description: Filter nodes by supported operating systems
          required: false
          schema:
            type: string
          examples:
            osIndependent:
              value: "OS Independent"
            windows:
              value: "Microsoft :: Windows"
            windows10:
              value: "Microsoft :: Windows :: Windows 10"
            linux:
              value: "POSIX :: Linux"
            ubuntu:
              value: "POSIX :: Linux :: Ubuntu"
            macos:
              value: "MacOS"
            macosx:
              value: "MacOS :: MacOS X"
        - in: query
          name: supported_accelerator
          description: Filter nodes by supported accelerator
          required: false
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
        - in: query
          name: timestamp
          description: Retrieve nodes created or updated after this timestamp (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: latest
          description: Whether to fetch fresh result from database or use cached one if false
          required: false
          schema:
            type: boolean
        - in: query
          name: sort
          description: Database column to use as ascending ordering. Add `;desc` as suffix on each column for descending sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: node_id
          description: node_id to use as filter
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: comfyui_version
          description: Comfy UI version
          required: false
          schema:
            type: string
        - in: query
          name: form_factor
          description: The platform requesting the nodes
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of nodes available
                  nodes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Node"
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        "400":
          description: Invalid input, object invalid
        "404":
          description: Not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /comfy-nodes/{comfyNodeName}/node:
    get:
      summary: Retrieve a node by ComfyUI node name
      description: Returns the node that contains a ComfyUI node with the specified name
      operationId: getNodeByComfyNodeName
      tags:
        - Registry
      parameters:
        - in: path
          name: comfyNodeName
          required: true
          description: The name of the ComfyUI node
          schema:
            type: string
      responses:
        "200":
          description: Node details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Node"
        "404":
          description: No node found containing the specified ComfyUI node name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /nodes/{nodeId}:
    get:
      summary: Retrieve a specific node by ID
      description: Returns the details of a specific node.
      operationId: getNode
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: query
          name: include_translations
          description: Whether to include the translation or not
          schema:
[...]
