name: "Test CLI Tool on Multiple Platforms"
on:
  push:
    branches:
      - main
    paths:
      - "comfy_cli/**"
      - "!.github/**"
      - "!tests/**"
      - "!.coveragerc"
      - "!.gitignore"
  pull_request:
    branches:
      - main
    paths:
      - "comfy_cli/**"
      - "!.github/**"
      - "!tests/**"
      - "!.coveragerc"
      - "!.gitignore"

permissions:
  contents: read

jobs:
  test:
    name: "Run Tests on Multiple Platforms"
    runs-on: ${{ matrix.os }}
    env:
      PYTHONIOENCODING: "utf8"

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9"]

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -e .

      - name: Test e2e
        env:
          PYTHONPATH: ${{ github.workspace }}
          TEST_E2E: true
        run: |
          pytest tests/e2e
