name: "Test CLI Tool on Multiple Platforms"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: "Run Tests on Multiple Platforms"
    runs-on: ${{ matrix.os }}
    env:
      PYTHONIOENCODING: "utf8"
    
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9"]

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          pip install -e .

      - name: Run Core Functionality
        run: |
          comfy --skip-prompt --no-enable-telemetry env
          comfy --skip-prompt install --cpu
          comfy launch --background -- --cpu
          comfy model download --url https://huggingface.co/guoyww/animatediff/resolve/cd71ae134a27ec6008b968d6419952b0c0494cf2/mm_sd_v14.ckpt?download=true --relative-path models/animatediff_models --filename animatediff_models
          comfy node install ComfyUI-AnimateDiff-Evolved
          comfy node update ComfyUI-AnimateDiff-Evolved
          comfy node uninstall ComfyUI-AnimateDiff-Evolved
          