name: Publish and Update Formula

on:
  release:
    types: [ created ]

jobs:
  build-n-publish:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install build and tomlkit dependencies
        run: python -m pip install --upgrade pip build tomlkit

      - name: Extract version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Update version in pyproject.toml
        run: |
          sed -i "s/version = \".*\"/version = \"${{ env.VERSION }}\"/" pyproject.toml

              
      - name: Build distribution
        run: python -m build --sdist --wheel --outdir dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.14

      - name: Bump Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
        with:
          formula-name: comfy-cli
          formula-path: Formula/comfy-cli.rb
          homebrew-tap: Comfy-Org/homebrew-comfy-cli
          base-branch: main  # Adjust if your default branch is different
          download-url: https://files.pythonhosted.org/packages/source/c/comfy-cli/comfy-cli-${{ env.VERSION }}.tar.gz
          commit-message: |
            Update comfy-cli to ${{ env.VERSION }}

            Created by actions/bump-homebrew-formula-action
