name: "Windows Specific Commands"
on:
  pull_request:
    branches:
      - main
    paths:
      - comfy_cli/**

permissions:
  contents: read

jobs:
  test:
    runs-on: windows-latest
    env:
      PYTHONIOENCODING: "utf8"

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install Dependencies
        run: |
          python -m venv venv
          .\venv\Scripts\Activate.ps1
          Get-Command python
          python -m pip install --upgrade pip
          pip install pytest
          pip install -e .
          comfy --skip-prompt --workspace ./ComfyUI install --fast-deps --nvidia --cuda-version 12.6 --skip-manager
          comfy --here launch -- --cpu --quick-test-for-ci
