name: "Windows Specific Commands"
on:
  pull_request:
    branches:
      - main
    paths:
      - comfy_cli/**

jobs:
  test:
    runs-on: windows-latest
    env:
      PYTHONIOENCODING: "utf8"

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install Dependencies
        run: |
          python -m venv venv
          .\venv\Scripts\Activate.ps1
          Get-Command python
          python -m pip install --upgrade pip
          pip install pytest
          pip install -e .
          comfy --skip-prompt --workspace ./ComfyUI install --fast-deps --nvidia --cuda-version 12.4 --skip-manager
          comfy --workspace ./ComfyUI standalone  --platform windows --proc x86_64
          ls
          comfy standalone --rehydrate --platform windows --proc x86_64
          ./python/python.exe ComfyUI/main.py --cpu --quick-test-for-ci
